<head>

    <title>About Us</title>

</head>
<body>
    {% extends "foods/base.html" %}

    {% block header %}

        <div class='jumbotron'>

            <a name="top"></a><h2>About Us</h2>

        </div>

    {% endblock header %}

    {% block content %}

<br><br>

    Esther's foods and supplements corporations was founded in 1808 by Comrade John Mitchell. In the spirit of violence, he created this organisation to provide to:<br>
    <ul>
        <li>Provide information about food and other things we take into our body system; both harmful and otherwise. Since what we eat has a great impact on our health, EFSC decided to set guidelines aimed at procuring an healthy lifestyle.</li>
        <li>Provide employment opportunities for people living in USA and all around the globe. John Mitchell is kind of a racist though.</li>
        <li>Saving as much lives as possible; both knowing and unknowingly</li>
    </ul><br><br>
    John Mitchell had a favourite quote which says "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam obcaecati voluptate quod rerum? Fugit totam labore consequatur sequi veritatis at. Incidunt, maxime ut voluptates delectus veritatis iusto officiis molestiae tempore!" 
 
<br><br><br><br>

<a href="#top" class="btn btn-primary">Go To Top</a>

<br><br><br><br><br><br>

    <div style="text-align: center;"><a href="http://github.com/PeterOlayemi">Developer: Peter Olayemi</a></div>

    {% endblock content %}
</body>
