<head>

    <title>Contact Us</title>

</head>
<body>
    {% extends "foods/base.html" %}

    {% block header %}

        <div class='jumbotron'>

            <h2>Contact Us</h2>

        </div>

    {% endblock header %}

    {% block content %}

<br><br>

    Dear Esteemed User,<br>If you have any questions, reviews or criticisms, you can always reach us through the following channels:<br><br>
    <ul>
        <li>LinkedIn: <a href="www.linkedin.com/in/petercontent">Peter Adetayo Olayemi</a></li>
        <li>Facebook: <a href="www.facebook.com/peter13">Peter Adetayo Olayemi</a></li>
        <li>GitHub: <a href="http://github.com/PeterOlayemi">Peter Olayemi</a></li>
        <li>Mail: <a href="mailto:olayemipeter2005@gmail.com?subject=Enter Subject&body=Hi Peter, ...">olayemipeter2005@gmail.com</a></li>
    </ul>
 
<br><br><br><br>

<a href="#top" class="btn btn-primary">Go To Top</a>

<br><br><br><br><br><br>

    <div style="text-align: center;"><a href="http://github.com/PeterOlayemi">Developer: Peter Olayemi</a></div>

    {% endblock content %}
</body>
